body {
  display: grid;
  grid:
    "header header" 2em
    "code input" 1fr
    "code output" 1fr
    / 1fr 1fr;
  width: 100%;
  height: 100vh;
  margin: 0;
}

header {
  grid-area: header;
  place-self: center stretch;
  padding: 0.5em;
}

#code-container {
  grid-area: code;
}

#input-container {
  grid-area: input;
}

#output-container {
  grid-area: output;
}

.container {
  position: relative;
}

.container > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
